<div class="mat-body">
  <mat-card>
    <h2>{{ title }}</h2>
    <div class="mat-table mat-elevation-z24">
      <mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let receipt"> {{receipt.id}} </mat-cell>
          </ng-container>
        
          <!-- Receipt Content Column -->
          <ng-container matColumnDef="desc">
            <mat-header-cell *matHeaderCellDef>Receipt Content</mat-header-cell>
            <mat-cell *matCellDef="let receipt"> {{receipt.description}} </mat-cell>
          </ng-container>
        
          <!-- Date Added Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Date Added</mat-header-cell>
            <mat-cell *matCellDef="let receipt"> {{receipt.dateCreated}} </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row (click)="displayByReceiptId(row.id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
  
    <div class="mat-paginator mat-elevation-z24">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>
